body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: "Plus Jakarta Sans", sans-serif;

}
nav{
    width: 100%;
    height: 45px;
    background-color: black;
    display: flex;
}

li{
    display: inline;
    color: white;
}

li a{
    color: white;
    text-decoration: none;
}

ul{
    display: flex;
    gap: 30px;
}

header{
    display: flex;
}

header .left{
    width: 600px;
    background-color: maroon;
    display: flex;
    padding: 25px;
}

header .left img{
    width: 600px;
    height: 300px;
    object-fit: cover;
    object-position: 15% 10%;
}

header .right{
    width: 100%;
    background-color: maroon;
    color: white;
    display: flex;
    padding: 25px;
    font-size: 150%;
}

header .right h1 span{
    color: black;
}

section#card_1{
    display: flex;
    background-color: brown;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
    font-size: 50px;
    font-weight: bold;
}

article#card_2{
    display: flex;
    flex-direction: column;
    background-color: maroon;
    padding: 25px;
    gap: 20px;
    font-size: 50px;
    font-weight: normal;
}

article#card_2 #judul{
    background-color: darkred;
    display: flex;
    padding: 20px;
}

article#card_2 #deskripsi{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

article#card_2 #deskripsi{
    width: 800px;
}

footer{
    display: flex;
    padding: 25px;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
    justify-content: center;
}